DATABASES = {
    'default': {
        'ATOMIC_REQUESTS': True,
        'ENGINE': 'awx.main.db.profiled_pg',
        'NAME': "{{ awx_postgresql_database.name }}",
        'USER': "{{ awx_postgresql_database.user }}",
        'PASSWORD': "{{ awx_postgresql_database.password | eyaml(eyaml_keys) }}",
        'HOST': "{{ awx_postgresql_database.host }}",
        'PORT': "{{ awx_postgresql_database.port }}",
    }
}
