- include_vars: ../../../vars/quay-vars.yml
  tags: always


- name: ConfigMap/LogStash-pipeline-conf
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: logstash-opdo-pipeline-conf
        namespace: "{{ inventory_namespace }}"
      data:
        pipeline.conf: |
          input {
            file {
              path => "/wp-audit/*.jsonl"
              sincedb_clean_after => "52 weeks"
              sincedb_path => "/wp-audit/logstash/data/sincedb"
              stat_interval => "30 seconds"
              start_position => "beginning"
            }
          }
          
          filter {
            if [source] == "wordpress-opdo" {
              drop { }
            }
          }

          output {
            stdout {}
          }

- name: ConfigMap/LogStash-pipelines-yml
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: logstash-opdo-pipelines-yml
        namespace: "{{ inventory_namespace }}"
      data:
        logstash.yml: |
          pipeline:
            batch:
              size: ${BATCH_SIZE:125}
              delay: ${BATCH_DELAY:50}
          node:
            name: "logstash-opdo"
        pipelines.yml: |
          - pipeline.id: logstash-opdo
            path.config: "/etc/logstash/conf.d/pipeline.conf"

- name: StatefulSet/LogStash
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: logstash
        namespace: "{{ inventory_namespace }}"
      spec:
        selector:
          matchLabels:
            app: logstash
        replicas: 1
        template:
          metadata:
            labels:
              app: logstash
          spec:
            terminationGracePeriodSeconds: 0
            containers:
              - name: logstash
                image: docker.elastic.co/logstash/logstash:9.2.1
                volumeMounts:
                  - name: opdo-ca
                    mountPath: /usr/local/share/ca-certificates
                  - name: wordpress-audit
                    mountPath: /wp-audit
                  - name: logstash-pipeline-conf
                    mountPath: /etc/logstash/conf.d
                  - name: logstash-pipelines-yml
                    mountPath: /usr/share/logstash/config
                envFrom:
                  - secretRef:
                      name: opdo-logstash
            volumes:
              - name: wordpress-audit
                persistentVolumeClaim:
                  claimName: wordpress-audit
              - name: opdo-ca
                configMap:
                  name: opdo-ca
              - name: logstash-pipeline-conf
                configMap:
                  name: logstash-opdo-pipeline-conf
              - name: logstash-pipelines-yml
                configMap:
                  name: logstash-opdo-pipelines-yml
