- include_vars: ../../../vars/quay-vars.yml
  tags: always


- name: ConfigMap/LogStash-pipeline-conf
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: logstash-opdo-pipeline-conf
        namespace: "{{ inventory_namespace }}"
      data:
        pipeline.conf: |
          input {
            file {
              path => "/wp-audit/*.jsonl"
              sincedb_clean_after => "52 weeks"
              sincedb_path => "/wp-audit/logstash/data/sincedb"
              stat_interval => "30 seconds"
              start_position => "beginning"
            }
          }
          
          filter {
            if [source] == "wordpress-opdo" {
              drop { }
            }
            mutate {
              rename => { "[host][name]" => "hostname" }
              remove_field => ["host"]
            }
          }

          output {
            stdout {}
            elasticsearch {
              hosts => ["${PIPELINE_OUTPUT_ELASTICSEARCH_HOSTS}"]
              api_key => "${PIPELINE_OUTPUT_ELASTICSEARCH_API_KEY}"
              index => "${PIPELINE_OUTPUT_ELASTICSEARCH_INDEX}"
              data_stream => false
              action => "create"
              ssl_enabled => true
              ssl_certificate_authorities => ["/usr/local/share/ca-certificates/opdo-ca.crt"]
            }
          }

- name: ConfigMap/LogStash-pipelines-yml
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: logstash-opdo-pipelines-yml
        namespace: "{{ inventory_namespace }}"
      data:
        logstash.yml: |
          pipeline:
            batch:
              size: ${BATCH_SIZE:125}
              delay: ${BATCH_DELAY:50}
          node:
            name: "logstash-opdo"
        pipelines.yml: |
          - pipeline.id: logstash-opdo
            path.config: "/etc/logstash/conf.d/pipeline.conf"

- name: StatefulSet/LogStash
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: logstash
        namespace: "{{ inventory_namespace }}"
      spec:
        selector:
          matchLabels:
            app: logstash
        replicas: 1
        template:
          metadata:
            labels:
              app: logstash
          spec:
            terminationGracePeriodSeconds: 0
            containers:
              - name: logstash
                image: docker.elastic.co/logstash/logstash:9.2.1
                ports:
                  - containerPort: 9600
                    name: monitoring
                volumeMounts:
                  - name: opdo-ca
                    mountPath: /usr/local/share/ca-certificates
                  - name: wordpress-audit
                    mountPath: /wp-audit
                  - name: logstash-pipeline-conf
                    mountPath: /etc/logstash/conf.d
                  - name: logstash-pipelines-yml
                    mountPath: /usr/share/logstash/config
                envFrom:
                  - secretRef:
                      name: opdo-logstash

              - name: logstash-exporter
                image: quay-its.epfl.ch/svc0041/logstash-exporter-kuskoman:v1.9.1
                ports:
                  - containerPort: 9198
                    name: metrics

            volumes:
              - name: wordpress-audit
                persistentVolumeClaim:
                  claimName: wordpress-audit
              - name: opdo-ca
                configMap:
                  name: opdo-ca
              - name: logstash-pipeline-conf
                configMap:
                  name: logstash-opdo-pipeline-conf
              - name: logstash-pipelines-yml
                configMap:
                  name: logstash-opdo-pipelines-yml

- name: Service/LogStash
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Service
      metadata:
        name: logstash
        namespace: "{{ inventory_namespace }}"
        labels:
          app: logstash
      spec:
        selector:
          app: logstash
        ports:
          - name: beats
            port: 5044
            targetPort: 5044
            protocol: TCP
          - name: monitoring
            port: 9600
            targetPort: 9600
            protocol: TCP
          - name: metrics
            port: 9198
            targetPort: 9198
            protocol: TCP
        type: ClusterIP

- name: Monitor/LogStash
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: monitoring.coreos.com/v1
      kind: ServiceMonitor
      metadata:
        name: logstash-monitor
        namespace: "{{ inventory_namespace }}"
      spec:
        selector:
          matchLabels:
            app: logstash
        endpoints:
          - port: metrics
            interval: 30s
        namespaceSelector:
          matchNames:
            - "{{ inventory_namespace }}"
