---

- name: Pull secrets for the `default` ServiceAccount
  include_tasks:
    file: pull-secrets.yml
    apply:
      tags:
      - wp
      - wp.pull-secrets
      - wp.pullsecrets
      - wp.pull
  tags:
    - wp
    - wp.pull-secrets
    - wp.pullsecrets
    - wp.pull

- name: Storage
  include_tasks:
    file: storage.yml
    apply:
      tags:
      - wp
      - wp.storage
  tags:
    - wp
    - wp.storage
  vars:
    # Setting up the PV (and managing access to it, so that other
    # tenants cannot “steal” it from us) is for ITOP-SDDC to manage:
    _storage_managed: >-
      {{ inventory_has_cluster_admin | default(False) }}

- name: MariaDB server
  include_tasks:
    file: mariadb.yml
    apply:
      tags:
        - wp
        - wp.mariadb
  tags:
    - wp
    - wp.mariadb

- name: Backup all WordpressSite kind
  include_tasks:
    file: backup-wordpresssites.yml
    apply:
      tags:
        - wp
        - wp.backup
        - wp.backup.wordpresssites
  tags:
    - wp
    - wp.backup
    - wp.backup.wordpresssites

- name: Serving secrets (for plugins, outgoing SMTP etc.)
  include_tasks:
    file: secrets.yml
    apply:
      tags:
      - wp
      - wp.secrets
  tags:
    - wp
    - wp.secrets
    - msmtp

- name: Web server
  include_tasks:
    file: nginx.yml
    apply:
      tags:
        - wp
        - wp.web
        - wp.nginx
  tags:
    - wp
    - wp.web
    - wp.nginx

- name: WordPress (Apache) redirector
  include_tasks:
    file: redirector.yml
    apply:
      tags:
        - wp
        - wp.redirector
        - wp.apache
  tags:
    - wp
    - wp.redirector
    - wp.apache

- name: "Menu API"
  include_tasks:
    file: menu-api.yml
    apply:
      tags:
        - wp
        - wp.web
        - wp.menus
        - menu_api
  tags:
    - wp
    - wp.web
    - wp.menus
    - menu_api

- name: "wp-cron"
  include_tasks:
    file: wp-cron.yml
    apply:
      tags:
        - wp
        - wp.cron
  tags:
    - wp
    - wp.cron

- name: "wp-fleet"
  include_tasks:
    file: wp-fleet.yml
    apply:
      tags:
        - wp
        - wp.fleet
  tags:
    - wp
    - wp.fleet

- name: "WordPress operator"
  include_tasks:
    file: wp-operator.yml
    apply:
      tags:
        - wp.operator
  tags:
    - wp.operator

- name: Cloudflare Settings
  when: >-
    "wp_namespaces_prod" in group_names
  include_tasks:
    file: cloudflare-settings.yml
    apply:
      tags:
      - wp
      - wp.cloudflare
      - cloudflare-settings
  tags:
    - wp
    - wp.cloudflare
    - cloudflare-settings
    - cloudflare-settings.tls
    - cloudflare-settings.tls.verify-token
    - cloudflare-settings.tls.list-ciphers
    - cloudflare-settings.tls.update-ciphers
    - cloudflare-settings.tls.reset-ciphers
    - cloudflare-settings.rulesets
    - cloudflare-settings.rulesets.verify-token
    - cloudflare-settings.rulesets.list
    - cloudflare-settings.rulesets.update-response-header-transform-rules

- name: Grafana
  include_tasks:
    file: grafana.yml
    apply:
      tags:
      - wp
      - wp.monitoring
      - wp.grafana
      - grafana
  tags:
    - wp
    - wp.grafana
    - grafana

- name: Pushgateway
  include_tasks:
    file: pushgateway.yml
    apply:
      tags:
        - wp
        - wp.monitoring
        - wp.pushgateway
  tags:
    - wp
    - wp.monitoring
    - wp.pushgateway

- name: Monitoring
  when:
  - inventory_openshift is defined
  - inventory_openshift.domain != "okd-test.fsd.team"
  include_tasks:
    file: monitoring.yml
    apply:
      tags:
      - wp
      - wp.grafana
      - wp.monitoring
      - monitoring
  tags:
    - wp
    - wp.grafana
    - wp.monitoring
    - monitoring

- name: CSP Report URI
  when:
    - inventory_openshift is defined
    - inventory_openshift.domain != "okd-test.fsd.team"
  include_tasks:
    file: report-uri.yml
    apply:
      tags:
        - report-uri
  tags:
    - report-uri
    - report-uri.startbuild
    - report-uri.restart

- name: OPDO
  include_tasks:
    file: opdo.yml
    apply:
      tags:
        - wp-opdo
  tags:
    - wp-opdo
