- tags: always
  include_vars: "{{ item }}"
  with_items:
  - image-vars.yml
  - ../../../vars/quay-vars.yml

- name: ConfigMap/opdo-ca
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: opdo-ca
        namespace: "{{ inventory_namespace }}"
      data:
        opdo-ca.crt: "{{ lookup('pipe', 'keybase fs read /keybase/team/epfl_wp_{{ inventory_deployment_stage }}/OPDo_{{ inventory_deployment_stage }}/OPDo_ca_{{ inventory_deployment_stage }}.crt') }}"

- name: ConfigMap/wp-nginx
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: wp-nginx
        namespace: "{{ inventory_namespace }}"
      data:
        allow-snippet-annotations: "true"
        annotations-risk-level: Critical
        # Uncomment the next four lines to embug the nginx configuration
        # (see also similar comments elsewhere in the file):
        # nginx.tmpl: >-
        #   {{ lookup("file", "../../../../docker/wordpress-nginx/nginx.tmpl") }}
        # wordpress_fastcgi.conf: >-
        #  {{ lookup("file", "../../../../docker/wordpress-nginx/wordpress_fastcgi.conf") }}

- name: "Deployment/wp-nginx"
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: wp-nginx
        namespace: "{{ inventory_namespace }}"
      spec: >-
        {{ lookup("template", "nginx-deployment-spec.yaml",
                  template_vars=dict(
                      image_tag=nginx_deployment_images_tag,
                      app_label="wp-nginx",
                      additional_pod_labels=dict(version="wp-nginx-" +
                                                 nginx_deployment_images_tag)))
        | from_yaml }}

- name: PodDisruptionBudget/wp-nginx
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: policy/v1
      kind: PodDisruptionBudget
      metadata:
        name: wp-nginx
        namespace: "{{ inventory_namespace }}"
      spec:
        minAvailable: 1
        selector:
          matchLabels:
            app: wp-nginx

- name: PodMonitor/wp-nginx
  when: inventory_deployment_stage == "production"
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: monitoring.coreos.com/v1
      kind: PodMonitor
      metadata:
        name: wp-nginx
        namespace: "{{ inventory_namespace }}"
      spec:
        selector:
          matchLabels:
            app: wp-nginx
        podMetricsEndpoints:
          - port: php-fpm-metrics
          - port: nginx-metrics

- name: "Service/wp-nginx"
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Service
      metadata:
        name: wp-nginx
        namespace: "{{ inventory_namespace }}"
        labels:
          app: wp-nginx
        annotations:
          authors: isas-fsd
      spec:
        ports:
        - name: "80"
          port: 80
          protocol: TCP
          targetPort: 8000
        selector:
          app: wp-nginx
        type: ClusterIP
