- name: opdo_secrets vars
  tags: always
  include_vars:
    file: "opdo-secrets-{{ inventory_deployment_stage }}.yml"
    name: opdo_secrets

- name: serving_secrets vars
  tags: always
  include_vars:
    file: "serving-secrets-{{ inventory_deployment_stage }}.yml"
    name: serving_secrets

- name: s3_secrets vars
  tags: always
  include_vars:
    file: "s3-secrets-{{ inventory_deployment_stage }}.yml"
    name: s3_secrets

- name: "SMTP password"
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      type: Opaque
      metadata:
        name: "smtp-password"
        namespace: "{{ inventory_namespace }}"
      data:
         SERVICE_WWW_NOREPLY_SMTP_PASSWORD: "{{ serving_secrets.smtp.password | eyaml(serving_secrets.eyaml_keys) | b64encode }}"
  tags: msmtp

- name: EPFL plugin secrets
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: wp-plugin-secrets
        namespace: "{{ inventory_namespace }}"
      type: Opaque
      stringData:
        restauration_api_password: "{{ serving_secrets.restauration.api_password | eyaml(serving_secrets.eyaml_keys) }}"
        wpforms_license: "{{ serving_secrets.wpforms.license_key | eyaml(serving_secrets.eyaml_keys) }}"
        wpforms_license_json: "{{ _wpforms_license_struct | to_json }}"
        saferpay_test_apiusername: "{{ serving_secrets.saferpay.test.apiusername | eyaml(serving_secrets.eyaml_keys) }}"
        saferpay_test_apipassword: "{{ serving_secrets.saferpay.test.apipassword | eyaml(serving_secrets.eyaml_keys) }}"
        saferpay_test_customerid: "{{ serving_secrets.saferpay.test.customerid | eyaml(serving_secrets.eyaml_keys) | string }}"
        saferpay_test_terminalid: "{{ serving_secrets.saferpay.test.terminalid | eyaml(serving_secrets.eyaml_keys) | string }}"
        saferpay_prod_apiusername: "{{ serving_secrets.saferpay.prod.apiusername | eyaml(serving_secrets.eyaml_keys) }}"
        saferpay_prod_apipassword: "{{ serving_secrets.saferpay.prod.apipassword | eyaml(serving_secrets.eyaml_keys) }}"
        saferpay_prod_customerid: "{{ serving_secrets.saferpay.prod.customerid | eyaml(serving_secrets.eyaml_keys) | string }}"
        saferpay_prod_terminalid: "{{ serving_secrets.saferpay.prod.terminalid | eyaml(serving_secrets.eyaml_keys) | string }}"
  vars:
     _wpforms_license_struct:
        type: "elite"
        key: "{{ serving_secrets.wpforms.license_key | eyaml(serving_secrets.eyaml_keys) }}"
        is_expired: false
        is_disabled: false
        is_invalid: false

- name: MariaDB operator backup / restore credentials
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: s3-backup-credentials
        namespace: "{{ inventory_namespace }}"
      type: Opaque
      stringData:
        keyId: "{{ s3_secrets.s3_backup_credentials.keyId | eyaml(s3_secrets.eyaml_keys) }}"
        accessSecret: "{{ s3_secrets.s3_backup_credentials.accessSecret | eyaml(s3_secrets.eyaml_keys) }}"

- name: MariaDB operator restore credentials (read-only)
  when: >-
    inventory_deployment_stage == "test"
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: s3-prod-ro-credentials
        namespace: "{{ inventory_namespace }}"
      type: Opaque
      stringData:
        keyId: "{{ s3_secrets.s3_ro_prod_credentials.keyId | eyaml(s3_secrets.eyaml_keys) }}"
        accessSecret: "{{ s3_secrets.s3_ro_prod_credentials.accessSecret | eyaml(s3_secrets.eyaml_keys) }}"

- name: Check if WordPress authentication secret exists
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Secret
    name: wordpress-authentication
    namespace: "{{ inventory_namespace }}"
  register: existing_wp_secret

# TODO: We need to generate our own secrets instead of relying on api.wordpress.org
- name: Generate WordPress authentication secrets
  ansible.builtin.uri:
    url: "https://api.wordpress.org/secret-key/1.1/salt/"
    return_content: yes
  register: wordpress_secret_response
  when: existing_wp_secret.resources | length == 0

- name: Create WordPress authentication secret
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: wordpress-authentication
        namespace: "{{ inventory_namespace }}"
      type: Opaque
      stringData:
        "wp-nonces.php": |
          <?php
          {{ wordpress_secret_response.content }}
  when: existing_wp_secret.resources | length == 0

- name: Create Search Inside Secret
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      type: Opaque
      metadata:
        name: search-inside-secret
        namespace: "{{ inventory_namespace }}"
      data:
        wp_api_token: "{{ _search_inside_wp_api_hashed_token | b64encode }}"
  vars:
    _search_inside_wp_api_credentials: >-
      {{ serving_secrets.search_inside_scrape.username
      }}:{{
      serving_secrets.search_inside_scrape.password
      | eyaml(serving_secrets.eyaml_keys) }}
    _search_inside_wp_api_hashed_token: "{{ _search_inside_wp_api_credentials | password_hash_bcrypt(_iv) }}"
    _iv: "Lnkai92hu9u8nNJUkhua82hGFafghjkhi"

- name: OPDo Secret
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      type: Opaque
      metadata:
        name: opdo-logstash
        namespace: "{{ inventory_namespace }}"
      stringData:
        PIPELINE_OUTPUT_ELASTICSEARCH_HOSTS: "{{ opdo_secrets.opdo.url | string }}"
        PIPELINE_OUTPUT_ELASTICSEARCH_API_KEY: "{{ _opdo_api_key_encoded }}"
  vars:
    _opdo_api_key_username: "{{ opdo_secrets.opdo.api_key.username | eyaml(opdo_secrets.eyaml_keys) }}"
    _opdo_api_key_password: "{{ opdo_secrets.opdo.api_key.password | eyaml(opdo_secrets.eyaml_keys) }}"
    _opdo_api_key_credentials: "{{ _opdo_api_key_username }}:{{ _opdo_api_key_password }}"
    _opdo_api_key_encoded: "{{ _opdo_api_key_credentials | b64encode }}"
