awx_version: 15.0.1
awx_image_name: wp-awx
awx_image_full_name: "docker-registry.default.svc:5000/{{ ansible_oc_namespace }}/wp-awx:{{awx_version}}"
awx_base_image_full_name: "ansible/awx:{{ awx_version }}"

awx_web_hostnames:
  wwp: awx-wwp.epfl.ch
  wwp-test: awx-poc-vpsi.epfl.ch

awx_runner_base_image_name: ansible-runner
awx_runner_base_image_fullname: docker.io/ansible/ansible-runner:latest
awx_runner_image_name: "wp-ansible-runner"

awx_inventory: "{{ awx_inventories[ansible_oc_namespace] }}"
awx_inventories:
  wwp: prod
  wwp-test: test

awx_service_account: awx
# wp-awx-runner must be privileged for now in order to run as an UID
# of our choice, until such time that we reorganize NFS permissions:
awx_runner_service_account: useroot
