awx_version: 22.3.0
awx_image_name: wp-awx
awx_base_image_mirrored_from: "ghcr.io/ansible/awx:{{ awx_version }}"
awx_base_image_mirrored_to: "docker-registry.default.svc:5000/wwp-test/awx:{{ awx_version }}"
awx_image_full_name: "docker-registry.default.svc:5000/{{ ansible_oc_namespace }}/wp-awx:{{awx_version}}"

awx_receptor_version: v1.3.0
awx_receptor_image_mirrored_from: "ghcr.io/ansible/receptor:{{ awx_receptor_version }}"
awx_receptor_image_mirrored_to: "docker-registry.default.svc:5000/wwp-test/receptor:{{ awx_receptor_version }}"
awx_receptor_image_full_name: "docker-registry.default.svc:5000/{{ ansible_oc_namespace }}/receptor:{{ awx_receptor_version }}"
# The following path is fixed by AWX (see
# https://github.com/ansible/awx/blob/devel/awx/main/tasks/receptor.py#L640):
awx_receptor_socket_path: /var/run/receptor/receptor.sock

awx_web_hostnames:
  wwp: awx-wwp.epfl.ch
  wwp-test: awx-poc-vpsi.epfl.ch
  wwp-infra: awx-wwp-infra.epfl.ch

awx_ansible_runner_base_image_name: ansible-runner
awx_ansible_runner_base_image_mirrored_from: quay.io/ansible/ansible-runner:latest
awx_ansible_runner_base_image_mirrored_to : "docker-registry.default.svc:5000/wwp-test/{{ awx_ansible_runner_base_image_name }}"

awx_redis_image_mirrored_from: redis:6.0
awx_redis_image_mirrored_to: "docker-registry.default.svc:5000/{{ ansible_oc_namespace }}/redis:6.0"

awx_runner_image_name: "wp-ansible-runner"

awx_inventory: "{{ awx_inventories[ansible_oc_namespace] }}"
awx_inventories:
  wwp: prod
  wwp-test: test

awx_service_account: awx
# wp-ansible-runner must be privileged for now in order to run as an UID
# of our choice, until such time that we reorganize NFS permissions:
awx_runner_service_account: useroot
