ansible/*.json
ansible/**/*.retry
data/wp/wp-content/plugins/epfl.zip
data/wp/wp-content/themes/wp-theme-2018.zip
__pycache__
ansible/roles/epfl-idevelop.*
ansible/state
*.pyc
node_modules/
k8s-backup/
assets/
tmp_data
*.previous
