# Ansible playbook for the EPFL WordPress stack

- name: Initial checks
  hosts: all
  gather_facts: no    # Ansible facts are useless for this play
  tasks:
    - name: Check Ansible version
      run_once: true
      assert:
        that: "ansible_version.full is version_compare('2.6', '>=')"
        msg: |
          You must update Ansible to at least 2.6 to use this playbook.

- name: Lazy-load WordPress inventory now (according to Ansible tags)
  # See explanations in ../inventory/lazy-wordpress-instances.yml
  hosts: localhost
  gather_facts: no    # Ansible facts are useless for this play
  tasks:
    # "[WARNING]: refresh_inventory task does not support when conditional"
    - meta: end_play
      when: not _want_wordpress_inventory
    - meta: refresh_inventory
  vars:
    _want_wordpress_inventory: >-
          {{ ansible_run_tags | any_known_tag(_wordpress_instance_role_path) }}
    _wordpress_instance_role_path: >-
          {{ (playbook_dir | dirname) + "/roles/wordpress-instance" }}

- name: WordPress instances
  # Note: we are twisting the Ansible concept of “hosts” in this play.
  # An inventory entry in the all_wordpresses group is a WordPress
  # instance, rather than a host in the “traditional” sysadmin sense.
  hosts: all_wordpresses
  gather_facts: no    # Ansible facts are useless for this play
  roles:
    - role: ../roles/wordpress-instance

- name: OpenShift namespaces
  # Like above, members of the all_openshift_namespaces are OpenShift
  # namespaces, rather than hosts
  hosts: all_openshift_namespaces
  gather_facts: no    # Ansible facts are useless for this play
  roles:
    - role: ../roles/wordpress-openshift-namespace

- name: Ansible Tower (AWX) instances
  hosts: awx_instances
  gather_facts: no    # Ansible facts are useless for this play
  roles:
    - role: ../roles/awx-instance
