# Custom runner image with the `wp` command-line tool and a WordPress layout in /wp
- include_vars: ../../../vars/image-vars.yml
- include_vars: k8s-vars.yml

- name: "Pull {{ awx_runner_base_image_fullname }}"
  delegate_to: localhost
  openshift_imagestream:
    metadata:
      name: "{{ awx_runner_base_image_name }}"
      namespace: "{{ ansible_oc_namespace }}"
    from: "{{ awx_runner_base_image_fullname }}"
    tag: latest

- name: "Build {{ awx_runner_image_name }} in OpenShift"
  register: _awx_runner_buildconfig
  delegate_to: localhost
  openshift_imagestream:
    metadata:
      name: "{{ awx_runner_image_name }}"
      namespace: "{{ ansible_oc_namespace }}"
    dockerfile: "{{ lookup('template', 'Dockerfile.' + awx_runner_image_name) }}"

- name: "Rebuild {{ awx_runner_image_name }} now"
  when: _awx_runner_buildconfig is changed
  shell: "oc -n {{ awx_build_namespace }} start-build --wait {{ awx_runner_image_name }}"
  delegate_to: localhost

- name: "Patch {{ awx_base_image_full_name }} into {{ awx_image_name }}"
  register: _awx_buildconfig
  delegate_to: localhost
  openshift_imagestream:
    tag: "{{ awx_version }}"
    metadata:
      name: "{{ awx_image_name }}"
      namespace: "{{ ansible_oc_namespace }}"
    dockerfile: |
       FROM {{ awx_base_image_full_name }}

       USER 0
       RUN yum -y install patch && yum -y clean all
       # Work around “NoneType has no attribute hostname” traceback
       RUN curl https://github.com/ansible/awx/commit/79d7c6d9b3c80aba3f9e35a8dc076355223f9c2c.patch | \
           patch -p1 -d /var/lib/awx/venv/awx/lib/python3.6/site-packages/

       # Fix (same symptom as) https://github.com/ansible-collections/community.kubernetes/issues/250
       RUN curl https://patch-diff.githubusercontent.com/raw/ansible/ansible/pull/72131.patch | \
           patch -p2 -d /usr/lib/python3.6/site-packages/

       # Make anti-affinity work
       RUN curl https://patch-diff.githubusercontent.com/raw/ansible/awx/pull/8487.patch | \
           patch -p1 -d /var/lib/awx/venv/awx/lib/python3.6/site-packages/

       USER 1000

- name: "Rebuild {{ awx_image_name }} now"
  when: _awx_buildconfig is changed
  shell: "oc -n {{ awx_build_namespace }} start-build --wait {{ awx_image_name }}"
  delegate_to: localhost
