# Custom runner image with the `wp` command-line tool and a WordPress layout in /wp
- include_vars: ../../../vars/image-vars.yml
- include_vars: k8s-vars.yml

- name: "Pull {{ awx_runner_base_image_fullname }}"
  openshift_imagestream:
    metadata:
      name: "{{ awx_runner_base_image_name }}"
      namespace: "{{ ansible_oc_namespace }}"
    from: "{{ awx_runner_base_image_fullname }}"
    tag: latest

- name: "Build {{ awx_runner_image_name }} in OpenShift"
  register: _awx_runner_buildconfig
  openshift_imagestream:
    metadata:
      name: "{{ awx_runner_image_name }}"
      namespace: "{{ ansible_oc_namespace }}"
    dockerfile: |
      FROM docker-registry.default.svc:5000/{{ ansible_oc_namespace }}/{{ mgmt_image_name }}:latest
      FROM docker-registry.default.svc:5000/{{ ansible_oc_namespace }}/{{ awx_runner_base_image_name }}:latest

      RUN yum -y install php-cli

      COPY --from=0 /usr/local/bin/wp /usr/local/bin/
      RUN mkdir /runner/.wp-cli
      COPY --from=0 /var/www/.wp-cli /runner/.wp-cli

      # Work around https://github.com/ansible/awx/issues/2893
      RUN yum -y install patch curl; curl https://github.com/domq/ansible-runner/commit/06f38faffd546d0d25c7708fa77a97d6e882a1bd.patch | patch -p1 /usr/lib/python2.7/site-packages/ansible_runner/runner.py

- name: "Rebuild {{ awx_runner_image_name }} now"
  when: _awx_runner_buildconfig is changed
  shell: "oc -n {{ awx_build_namespace }} start-build {{ awx_runner_image_name }}"
  delegate_to: localhost

- name: "Patch {{ awx_task_base_image_fullname }} into {{ awx_task_image_name }}"
  register: _awx_task_buildconfig
  openshift_imagestream:
    tag: "{{ awx_version }}"
    metadata:
      name: "{{ awx_task_image_name }}"
      namespace: "{{ ansible_oc_namespace }}"
    dockerfile: |
       FROM {{ awx_task_base_image_fullname }}

       # https://github.com/ansible/awx/issues/6692#issuecomment-613451838
       USER 0
       RUN set -e -x; for playbook in /var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/playbooks/*_isolated.yml; do sed -i '/rsync_opts:/a \ \ \ \ \ \ \ \ \ \ -\ "--blocking-io"' $playbook; done
       USER 1000

- name: "Rebuild {{ awx_task_image_name }} now"
  when: _awx_task_buildconfig is changed
  shell: "oc -n {{ awx_build_namespace }} start-build {{ awx_task_image_name }}"
  delegate_to: localhost
