# file: roles/wordpress-instance/tasks/main.yml
#
# What to do to install and configure a WordPress instance
#
# **This is the “main“ file that tells Ansible what to do to set
# up a WordPress site.** (Or, in Ansible lingo: this is the
# main tasks list for the `wordpress-instance` role).
#
# Operations in this file will be executed in the sequence they are
# written in, for each site stipulated by the `-l` command-line flag
# (or absent that flag, all sites in the inventory) - Subject to their
# `when:` clauses and command-line-specified tags (`-t`), and with
# parallel execution at the level of one task. That is (skipping the
# tasks that have the `never` tag, which as the name implies, can
# only be triggered manually):
#
# - first, the `wordpress_facts` will be assessed on all targeted sites;
#
# - then (and only after the previous step has completed for all
#   targeted sites), Ansible will make sure that all targeted sites
#   exist (by calling `create.yml`);
#
# - then, Ansible will create the `wp` symlink and the wp-content
#   subdirectories, again only if said symlinks and directories don't
#   already exist (`serving-infrastructure.yml`);
#
# - then Ansible will update the database and do some mundane
#   configuration work (`configure.yml`), unless the operator
#   forgot to set `wp_destructive` to include "config" (this
#   is the meaning of the `when:` clause);
#
# - etc.
#
# Once the procedure is complete, every targeted site should be in a
# nominal, ready-to-serve state.
#
# Note that some Ansible tasks (in particular in `plugins.yml`) may
# interfere with user-supplied configuration; in which case, they will
# be guarded by a suitable `when:` clause, which ensures that we do
# nothing if the user already took the matters in their own hands.

- include_vars: wp-destructive.yml   # For wp_can
  tags: always

- name: Backup
  # We include_tasks (not import_tasks) here, because we do *not* want
  # to propagate tags - Within backup.yml, tasks shall be individually
  # marked with the appropriate subset of the `backup.code`,
  # `backup.data` and `backup.uploads` tags.
  include_tasks: "backup.yml"
  tags:
    - never  # That is, skip unless "-t wipe", "-t backup", "-t backup.code" etc. is
             # passed on the command line
    - wipe
    - backup
    - backup.code
    - backup.data
    - backup.uploads

- name: Wipe
  import_tasks: "wipe.yml"
  tags:
    - never
    - wipe

- wordpress_facts:
  tags: always

- name: "{{ 'Recreate' if 'wipe' in ansible_run_tags else 'Create' }}"
  tags:
    - wp.create
  include_tasks:
    file: "create.yml"
    apply:
      tags: ["wp.create"]

- name: Restore
  import_tasks: "restore.yml"
  tags:
    - never
    - restore

- name: Configure
  when: wp_can.configure
  tags:
    - wp.configure
  include_tasks:    # Required because of the "when" clause
    file: "configure.yml"
    # Because `include_tasks` is dynamic, tags don't auto-inherit.
    apply:
      tags: ["wp.configure"]

- name: Set up metadata
  when: wp_can.configure
  tags:
    - wp.metadata
  include_tasks:
    file: "site-metadata.yml"
    apply:
      tags: ["wp.metadata"]

- name: Set up plugins
  when: wp_can.configure or ansible_check_mode
  tags:
    - plugins
    - plugins.wp_media_folder_options
    - plugins.unknown
    - plugins.polylang
    - wp.plugins.coming-soon
    - plugins.intranet
    - plugins.intranet.htaccess
  include_tasks:
    file: "plugins.yml"
    apply:
      tags: ["plugins"]

- name: Set up themes
  when: wp_can.configure or ansible_check_mode
  tags:
    - themes
  include_tasks:
    file: "themes.yml"
    apply:
      tags: ["themes"]

- name: Delete sample pages and posts installed by WordPress
  when: wp_can.configure
  include_tasks:
    file: "samples.yml"
    apply:
      tags: ["wp.samples"]
  tags:
    - wp.samples

- name: Set up menus
  when: wp_can.configure
  include_tasks:
    file: "menus.yml"
    apply:
      tags: ["wp.menus"]
  tags:
    - wp.menus
    - wp.menus.refresh.force

- name: Generate reports locally
  include_tasks:
    file: "reports.yml"
    apply:
      tags: ["wp.reports"]
  tags:
    - never
    - wp.reports
