## Plugin and mu-plugin lineup and configuration

- include_vars: "{{ item }}"
  tags: always
  with_items:
    - plugin-vars.yml
    - accred-vars.yml
    - ../../../vars/env-secrets.yml
    - "../../../vars/secrets-{{ openshift_namespace }}.yml"

##################### Plugins to clean ###########################

- name: Delete plugins bundled with WordPress
  wordpress_plugin:
    name: "{{ item }}"
    state: absent
  with_items:
    - akismet
    - hello

- name: Enumerate active plugins
  shell:
    chdir: "{{ wp_dir }}"
    cmd: "wp plugin list --status=active --field=name"
  register: _active_plugins
  changed_when: false
  check_mode: no
  tags: always

- name: Enable EPFL Coming Soon on new sites
  wordpress_option: "{{ item }}"
  with_items: "{{ plugin_epfl_coming_soon_options }}"
  vars:
    plugin_epfl_coming_soon_shall_be_enabled: true
  when: >-
    _active_plugins.stdout == ""
  tags: wp.plugins.epfl-coming-soon

- name: EPFL Coming soon status
  shell: |
    {{ wp_cli_command }} option get epfl_csp_options --format=json  | jq '.status'
  changed_when: false
  register: _epfl_coming_soon_status
  tags: wp.plugins.epfl-coming-soon

- debug:
    msg: " EPFL Coming Soon status: {{ _epfl_coming_soon_status }}"
  tags: wp.plugins.epfl-coming-soon

- name: Was “epfl coming soon” plug-in active?
  check_mode: no   # That means yes
  shell:
    chdir: "{{ wp_dir }}"
    cmd: wp plugin list --name=epfl-coming-soon --status=active --format=count
  changed_when: false
  tags:
    - wp.plugins.coming-soon
    - wp.plugins.epfl-coming-soon
  register: _epfl_coming_soon_plugin_was_active

- name: EPFL Coming Soon plugin (always installed)
  wordpress_plugin:
    name: epfl-coming-soon
    state:
      - symlinked
      - active
    from: https://github.com/epfl-si/wp-plugin-epfl-coming-soon
  when: >-
    _epfl_coming_soon_plugin_was_active.stdout == "0"
  tags: wp.plugins.epfl-coming-soon

##################### Must-use plugins ###########################

- name: Custom editor menu (must-use plugin)
  wordpress_plugin:
    name: EPFL_custom_editor_menu_loader
    is_mu: yes
    state: '{{ "symlinked" if wp_is_managed else "absent" }}'
    from:
      - https://github.com/epfl-si/wp-mu-plugins/blob/master/epfl-custom-editor-menu
      - https://github.com/epfl-si/wp-mu-plugins/blob/master/EPFL_custom_editor_menu_loader.php
  tags:
    - wp.plugins.mu

- name: Blocks white-list (must-use plugin)
  wordpress_plugin:
    name: EPFL_block_white_list
    is_mu: yes
    state: '{{ "symlinked" if wp_is_managed else "absent" }}'
    from: https://github.com/epfl-si/wp-mu-plugins/blob/master/EPFL_block_white_list.php
  tags:
    - wp.plugins.mu

- name: Disable comments (must-use plugin)
  wordpress_plugin:
    name: EPFL_disable_comments
    is_mu: yes
    state: '{{ "symlinked" if wp_is_managed else "absent" }}'
    from: https://github.com/epfl-si/wp-mu-plugins/blob/master/EPFL_disable_comments.php
  tags:
    - wp.plugins.mu

- name: Enable automatic updates (must-use plugin)
  wordpress_plugin:
    name: EPFL_enable_updates_automatic
    is_mu: yes
    state: '{{ "absent" if wp_is_managed else "symlinked" }}'
    from: https://github.com/epfl-si/wp-mu-plugins/blob/master/EPFL_enable_updates_automatic.php
  tags:
    - wp.plugins.mu

- name: Disable automatic updates (must-use plugin)
  wordpress_plugin:
    name: EPFL_disable_updates_automatic
    is_mu: yes
    state: '{{ "symlinked" if wp_is_managed else "absent" }}'
    from: https://github.com/epfl-si/wp-mu-plugins/blob/master/EPFL_disable_updates_automatic.php
  tags:
    - wp.plugins.mu

- name: Google Analytics hook (must-use plugin)
  wordpress_plugin:
    name: EPFL_google_analytics_hook
    is_mu: yes
    state:
      - symlinked
    from: https://github.com/epfl-si/wp-mu-plugins/blob/master/EPFL_google_analytics_hook.php
  tags:
    - wp.plugins.mu

- name: Locked installs (must-use plugin)
  wordpress_plugin:
    name: EPFL_installs_locked
    is_mu: yes
    state: '{{ "symlinked" if wp_is_managed else "absent" }}'
    from: https://github.com/epfl-si/wp-mu-plugins/blob/master/EPFL_installs_locked.php
  tags:
    - wp.plugins.mu

- name: Jahia redirect tracker (must-use plugin)
  wordpress_plugin:
    name: EPFL_jahia_redirect
    is_mu: yes
    state: '{{ "symlinked" if wp_is_managed else "absent" }}'
    from: https://github.com/epfl-si/wp-mu-plugins/blob/master/EPFL_jahia_redirect.php
  tags:
    - wp.plugins.mu

- name: EPFL functions (must-use plugin)
  wordpress_plugin:
    name: epfl-functions
    is_mu: yes
    state:
      - symlinked
    from: https://github.com/epfl-si/wp-mu-plugins/blob/master/epfl-functions.php
  tags:
    - wp.plugins.mu

- name: Quota (must-use plugin)
  wordpress_plugin:
    name: EPFL_quota_loader
    is_mu: yes
    state:
      - symlinked
    from:
      - https://github.com/epfl-si/wp-mu-plugins/tree/master/epfl-quota
      - https://github.com/epfl-si/wp-mu-plugins/blob/master/EPFL_quota_loader.php
  tags:
    - wp.plugins.mu

- name: Stats (must-use plugin)
  wordpress_plugin:
    name: EPFL_stats_loader
    is_mu: yes
    state:
      - symlinked
    from:
      - https://github.com/epfl-si/wp-mu-plugins/tree/master/epfl-stats
      - https://github.com/epfl-si/wp-mu-plugins/blob/master/EPFL_stats_loader.php
  tags:
    - wp.plugins.mu

- name: Social Graph (must-use plugin)
  wordpress_plugin:
    name: EPFL_Social_Graph
    is_mu: yes
    state:
      - symlinked
    from:
      - https://github.com/epfl-si/wp-mu-plugins/blob/master/class-epfl-social-graph.php
  tags:
    - wp.plugins.mu
    - wp.plugins.mu.social-graph

##################### "2018" plugins ###########################

- name: '"TinyMCE Advanced" plugin'
  wordpress_plugin:
    name: tinymce-advanced
    state:
      - symlinked
      - active
    from: wordpress.org/plugins

- name: Gutenberg PDF Flipbook
  wordpress_plugin:
    name: flowpaper-lite-pdf-flipbook
    state:
      - symlinked
      - active
    from: wordpress.org/plugins
  tags: wp.plugins.pdf

- name: Remove obsolete PDF plug-ins (one-shot action)
  wordpress_plugin:
    name: "{{ item }}"
    state: absent
  with_items:
    - pdf-viewer-block
    - pdfjs-viewer-shortcode
  tags: wp.plugins.pdf

- name: Polylang plugin
  wordpress_plugin:
    name: polylang
    state:
      - symlinked
      - active
    from: https://downloads.wordpress.org/plugin/polylang.2.9.2.zip

- name: Count Polylang languages
  shell: |
    {{ wp_cli_command }} pll lang list --field=term_id --format=csv
  changed_when: false
  register: _polylang_languages_csv
  tags:
    - wp.plugins.polylang
    - plugins.polylang
  check_mode: no

- name: Polylang translations (taglines, date formats etc)
  wordpress_polylang_language:
    state: present
    language: "{{ item }}"
  with_items: "{{ lookup('wpveritas', 'languages') | languages_in_order }}"
  tags:
    - wp.plugins.polylang
    - plugins.polylang
  # We don't want to resurrect languages that the user deleted:
  when: |-
    _polylang_languages_csv.stdout == ""

- name: Tequila plugin
  wordpress_plugin:
    name: tequila
    state:
      - symlinked
      - active
    from: https://github.com/epfl-si/wordpress.plugin.tequila

- name: Replace WP login screen with redirect-to-Tequila flow
  wordpress_option:
    name: plugin:epfl_tequila:has_dual_auth
    value: 0

- name: Whitelist of IPs for Tequila fetchAttributes request
  wordpress_option:
    name: plugin:epfl:tequila_allowed_request_hosts
    value: "{{ wp_ops_rpcclient_ipv4_range }}"

- name: Accred plugin
  wordpress_plugin:
    name: accred
    state:
      - symlinked
      - active
    from: https://github.com/epfl-si/wordpress.plugin.accred

- name: Accred options
  wordpress_option: "{{ item }}"
  with_items: "{{ plugin_accred_options }}"

- name: Cache-Control plugin
  wordpress_plugin:
    name: epfl-cache-control
    state:
      - symlinked
      - active
    from: https://github.com/epfl-si/wp-plugin-epfl-cache-control

- name: Cache-Control options
  wordpress_option: "{{ item }}"
  with_items: "{{ plugin_cache_control_options }}"
  tags:
    - wp.plugins.cachecontrol

- name: varnish-http-purge plugin
  wordpress_plugin:
    name: varnish-http-purge
    state: absent

- name: EPFL-settings plugin
  wordpress_plugin:
    name: EPFL-settings
    state:
      - symlinked
      - active
    from: https://github.com/epfl-si/wp-plugin-epfl-settings

- name: EPFL-Content-Filter plugin
  wordpress_plugin:
    name: EPFL-Content-Filter
    state: '{{ ["symlinked", "active"] if plugins_locked else "absent" }}'
    from: https://github.com/epfl-si/wp-plugin-epfl-content-filter

# TODO: we are not quite sure anymore whether this plugin is useful.
- name: SVG-support plugin
  wordpress_plugin:
    name: svg-support
    state:
      - symlinked
      - active
    from: wordpress.org/plugins

- name: remote-content-shortcode plugin
  wordpress_plugin:
    name: epfl-remote-content-shortcode
    state:
      - symlinked
      - active
    from: https://github.com/epfl-si/wp-plugin-epfl-remote-content

- name: EPFL Gutenberg plugin
  wordpress_plugin:
    name: wp-gutenberg-epfl
    state:
      - symlinked
      - active
    from: https://github.com/epfl-si/wp-gutenberg-epfl

- name: EPFL Menus plugin
  wordpress_plugin:
    name: epfl-menus
    state:
      - symlinked
      - active
    from: https://github.com/epfl-si/wp-plugin-epfl-menus
  register: _plugin_epfl_menus

- name: wp-media-folder plugin
  wordpress_plugin:
    name: wp-media-folder
    state:
      - symlinked
      - active
    from: "s3://{{ build.s3_assets.bucket_name }}/wp-media-folder.5.3.21.zip"

- name: wp-media-folder options
  tags:
    - wp.plugins.wp_media_folder_options
    - plugins.wp_media_folder_options
  wordpress_option: "{{ item }}"
  with_items: "{{ plugin_wpmf_options }}"

- name: very-simple-meta-description plugin
  wordpress_plugin:
    name: very-simple-meta-description
    state:
      - symlinked
      - active
    from: wordpress.org/plugins

- name: epfl-404 plugin
  wordpress_plugin:
    name: epfl-404
    state:
      - symlinked
      - active
    from: https://github.com/epfl-si/wp-plugin-epfl-404

- name: ewww-image-optimizer plugin
  wordpress_plugin:
    name: ewww-image-optimizer
    state:
      - symlinked
      - active
    from: wordpress.org/plugins
  register: _plugin_ewww

- name: Rebuild ewww-image-optimizer cache
  shell: "{{ wp_cli_command }} ewwwio optimize all --noprompt"
  tags: wp.plugins.ewww.optimize
  when: >-
    (_plugin_ewww is changed)
    or
    ("wp.plugins.ewww.optimize" in ansible_run_tags)

- name: ewww-image-optimizer configuration
  wordpress_option: "{{ item }}"
  with_items: "{{ plugin_ewww_image_optimizer_options }}"
  tags: wp.plugins.ewww.configure

- name: enlighter plugin
  wordpress_plugin:
    name: enlighter
    state:
      - symlinked
      - active
    from: https://github.com/epfl-si/wp-plugin-enlighter

- name: enlighter configuration
  wordpress_option: "{{ item }}"
  with_items: "{{ plugin_enlighter_options }}"

- name: "'Find My Blocks' plugin"
  wordpress_plugin:
    name: find-my-blocks
    state:
      - symlinked
      - active
    from: wordpress.org/plugins

##################### Category-specific plugins ###########################

- name: epfl-intranet plugin
  wordpress_plugin:
    name: epfl-intranet
    state: "{{ plugins_for_inside_category }}"
    from: https://github.com/epfl-si/wp-plugin-epfl-intranet
  tags:
    - wp.plugins.intranet
    - plugins.intranet

- name: epfl-intranet status
  wordpress_plugin_epfl_intranet:
    protection_enabled: '{{ "yes" if "Inside" in wp_site_categories else "no" }}'
    restrict_to_groups: ''
  tags:
    - wp.plugins.intranet
    - plugins.intranet

- name: epfl-intranet htaccess
  blockinfile:
    path: "{{ wp_htaccess_path }}"
    marker: "# {mark} ANSIBLE MANAGED BLOCK FOR EPFL-Intranet"
    block: |
      RewriteCond %{REQUEST_URI} wp-content/uploads/
      RewriteRule wp-content/uploads/(.*)$ wp-content/plugins/epfl-intranet/inc/protect-medias.php?file=$1 [QSA,L]
    state: '{{ "present" if "Inside" in wp_site_categories else "absent" }}'
  tags:
    - wp.plugins.intranet
    - wp.plugins.intranet.htaccess
    - plugins.intranet
    - plugins.intranet.htaccess

- name: epfl-emploi plugin
  wordpress_plugin:
    name: epfl-emploi
    state: "{{ plugins_for_emploi_category }}"
    from: https://github.com/epfl-si/wp-plugin-epfl-emploi

- name: epfl-restauration plugin
  wordpress_plugin:
    name: epfl-restauration
    state: "{{ plugins_for_restauration_category }}"
    from: https://github.com/epfl-si/wp-plugin-epfl-restauration

- name: epfl-restauration options
  wordpress_option: "{{ item }}"
  with_items: "{{ plugin_restauration_options }}"
  tags:
    - wp.plugins.restauration.options

- name: epfl-restauration API password
  wordpress_option: "{{ plugin_restauration_api_password }}"
  no_log: true
  tags:
    - wp.plugins.restauration.options

- name: Subscribe2 plugin
  wordpress_plugin:
    name: Subscribe2
    state: "{{ plugins_for_subscribe2_category }}"
    from: wordpress.org/plugins

- name: EPFL-Library-Plugins plugin
  wordpress_plugin:
    name: EPFL-Library-Plugins
    state: "{{ plugins_for_library_category }}"
    from: https://github.com/epfl-si/wp-plugin-epfl-library

- name: epfl-courses-se plugin
  wordpress_plugin:
    name: epfl-courses-se
    state: "{{ plugins_for_cdhshs_category }}"
    from: https://github.com/epfl-si/wp-plugin-epfl-courses-se

- name: WPForms plugin
  wordpress_plugin:
    name: wpforms
    state: "{{ plugins_for_wpforms_category }}"
    from: "s3://{{ build.s3_assets.bucket_name }}/wpforms.1.6.1.2.zip"
  tags:
    - wp.plugins.wpforms

- name: WPForms surveys & polls add-on
  wordpress_plugin:
    name: wpforms-surveys-polls
    state: "{{ plugins_for_wpforms_surveys_polls_category }}"
    from: "s3://{{ build.s3_assets.bucket_name }}/wpforms-surveys-polls.1.6.0.zip"
  tags:
    - wp.plugins.wpforms-surveys-polls

- name: WPForms options
  wordpress_option: "{{ item }}"
  with_items: "{{ plugin_wpforms_options }}"
  tags:
    - wp.plugins.wpforms

- name: WPForms-EPFL-Payonline plugin
  wordpress_plugin:
    name: wpforms-epfl-payonline
    state: "{{ plugins_for_payonline_category }}"
    from: https://github.com/epfl-si/wpforms-epfl-payonline/releases/latest/download/wpforms-epfl-payonline.zip
  tags:
    - wp.plugins.wpforms
    - wp.plugins.payonline

- name: Uninstall all unknown plug-ins
  tags:
    - wp.plugins.unknown
    - plugins.unknown
  wordpress_unknown_plugins:
    state: absent
    known_plugins_in: "{{ role_path }}/tasks/plugins.yml"  # i.e. this here file
