- name: Get site title
  command: "{{ wp_cli_command }} option get blogname"
  register: _site_title
  changed_when: false

# Set the site's title to whatever is defined in wp-veritas if it was not changed since the WordPress installation
- name: Set site title
  command: "{{ wp_cli_command }} option update blogname '{{ lookup('wpveritas', 'title') }}'"
  when:
    - |
      not _site_title.skipped
    - |
      _site_title.stdout == (wp_dir | basename)
  register: _site_title_changed
  changed_when: |
    "option is unchanged" not in _site_title_changed.stdout

- name: Get tagline
  command: "{{ wp_cli_command }} option get blogdescription"
  register: _site_tagline
  changed_when: false

# Set the tagline to whatever is defined in wp-veritas if it was not changed since the WordPress installation
- name: Set tagline
  command: "{{ wp_cli_command }} option update blogdescription '{{ lookup('wpveritas', 'tagline') }}'"
  when:
    - |
      not _site_tagline.skipped
    - |
      _site_tagline.stdout == 'Just another WordPress site'
  register: _site_tagline_changed
  changed_when: |
    "option is unchanged" not in _site_tagline_changed.stdout
