monitoring_prober_image_name: monitoring-wpprobe
monitoring_disk_usage_report_image_name: monitoring-disk-usage-report
monitoring_disk_usage_report_webhook_secret: >-
  {{ webhooks.github.monitoring_disk_usage_report | eyaml(eyaml_keys) }}

prometheus_htpass: "\n{% for cred in prometheus.credentials %}\n          - \"{{ cred.user }}:{{ cred.pass | eyaml(eyaml_keys) | password_hash('bcrypt', cred.salt) }}\"\n{% endfor %}"

monitoring_pushgateway_namespace: >-
  {{ "wwp-infra" if openshift_namespace == "wwp"
     else openshift_namespace }}
monitoring_pushgateway_hostport: "pushgateway.{{ monitoring_pushgateway_namespace }}.svc:9091"
monitoring_pushgateway_url: "http://{{ monitoring_pushgateway_hostport }}/"

monitoring_traefik_base_image_mirrored_from: docker.io/library/traefik
monitoring_traefik_base_image_mirrored_to: "docker-registry.default.svc:5000/{{ openshift_namespace }}/traefik"

monitoring_python_base_image: python:buster
monitoring_python_base_image_mirrored_from: "docker.io/library/{{ monitoring_python_base_image }}"
monitoring_python_base_image_mirrored_to: "docker-registry.default.svc:5000/{{ openshift_namespace }}/{{ monitoring_python_base_image }}"
