# Secrets that can be looked up using lookup("env_secrets", ...)
#
# See explanations in ../roles/wordpress-instance/lookup_plugins/env_secrets.py
#
# In order for several secrets to be useable at once by the same pod,
# it is best to keep all second-level keys (which are also environment
# variable names) distinct from each other if their values are different.

env_secret_mysql_super_credentials:
  MYSQL_SUPER_PASSWORD: "{{ mysql_super_credentials.password | eyaml(eyaml_keys) }}"

env_secret_restic_backup_credentials:
  # The operator ssh'ing into mgmt will want these variables set under the
  # "original" name (the way restic expects them):
  AWS_ACCESS_KEY_ID: "{{ s3_backup.aws_access_keys.rw.id | eyaml(eyaml_keys) }}"
  AWS_SECRET_ACCESS_KEY: "{{ s3_backup.aws_access_keys.rw.secret | eyaml(eyaml_keys) }}"
  RESTIC_PASSWORD: "{{ s3_backup.restic_password | eyaml(eyaml_keys) }}"
