{
    "users":[{"name": "awx", "password": "{{ awx_rabbitmq_password | eyaml(eyaml_keys) }}", "tags": ""}],
    "permissions":[
    {"user":"awx","vhost":"awx","configure":".*","write":".*","read":".*"}
    ],
    "vhosts":[{"name":"awx"}],
    "policies":[
        {"vhost":"awx","name":"ha-all","pattern":".*","definition":{"ha-mode":"all","ha-sync-mode":"automatic"}}
    ]
}
