# AWX-compatible playbook for the EPFL WordPress stack
#
# Other operations, that deal with the "superstructure" (e.g.
# OpenShift jobs, secrets) are handled from ../interactive-playbooks/
# since it makes no sense to run them from AWX. (Also, AWX finds
# playbooks only in the `playbooks` subdirectories)

# In this play, "hosts" are not really hosts; rather, they are
# WordPress instances. The script ../inventory/wordpress-instances.py
# creates a list of them on standard output.
- name: WordPress instances
  hosts: all_wordpresses
  gather_facts: no   # But see ../roles/wordpress-instance/action_plugins/wordpress_facts.py
  roles:
    - role: ../roles/wordpress-instance

