---
# tasks for WordPress OpenShift namespaces

- name: "Disk usage report microservice"
  import_tasks: disk-usage-report.yml
  tags: diskusage

- name: "Images and builds"
  import_tasks: images.yml
  tags: images

- name: "DeploymentConfigs (previously known as pods)"
  include_tasks:
    file: deploymentconfig-httpd.yml
    # Because `include_tasks` is dynamic, tags don't auto-inherit.
    apply:
      tags: ["dc"]
  loop: "{{ DeploymentConfigs.httpd }}"
  loop_control:
    loop_var: dc
  tags: dc

- name: "Continuous integration"
  when: openshift_namespace == "wwp-test"
  include_tasks:
    file: continuous-integration.yml
    apply:
      tags:
        - ci
  # Multi-level tagging: `-t ci` will run all of continuous-integration.yml,
  # while `-t ci.jenkinsfile` will only load the BuildConfig with the
  # Jenkinsfile inside
  tags:
    - ci
    - ci.services
    - ci.jenkinsfile

- name: "Management container (ssh server, PHP CLI)"
  include_tasks:
    file: mgmt.yml
    apply:
      tags:
        - mgmt
  tags:
    - mgmt
    - mgmt.secrets

- name: "Monitoring"
  when: openshift_namespace == "wwp"
  include: monitoring.yml
  tags: monitoring
