[ssh_connection]
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o forwardX11=no -o PreferredAuthentications=publickey

[defaults]
jinja2_native = true
;; Disable the impossible-to-disable "argsplat" warning
;; (https://stackoverflow.com/a/56918548/435004):
inject_facts_as_vars = false
callback_whitelist = timer, profile_tasks
;; default is 5
forks = 5
